<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<style>

#excPic{
	width: 100%;
	height: 34%;
}

.actionList{
	padding-top: 5%;
}

</style>

<div id="excPic width-max height-max">
	<img src="__PUBLIC__/images/slides/1.jpg" > </img>
</div>

<div class="actionList">
	<h4> <b class="color-red"> | </b><b>交换</b> </h4>
	<ul data-role="listview">
		<li><a href="../OldBook/startExchange">发起交换</a></li>
		<li><a href="../OldBook/allExchange">所有交换</a></li>
	</ul>
</div>

<div class="actionList">
	<h4> <b class="color-red"> | </b><b>我的交换</b> </h4>
	<ul data-role="listview">
		<li><a href="../OldBook/excStartedByMe">我发起的</a></li>
		<li><a href="../OldBook/excAppliedByMe">我申请的</a></li>
	</ul>
</div>