<div class="flexslider" id="hpSlider">
	<ul class="slides"> 
        <li><img src="__PUBLIC__/images/slides/1.jpg" /></li> 
        <li><img src="__PUBLIC__/images/slides/1.jpg" /></li> 
        <li><img src="__PUBLIC__/images/slides/1.jpg" /></li> 
        <li><img src="__PUBLIC__/images/slides/1.jpg" /></li> 
    </ul> 
</div>

<script src="__PUBLIC__/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(".flexslider").flexslider(
		{
			directionNav:false,
			animation:"slide"
		}
	);   
</script>
